.main {
  display: flex;
  justify-content: flex-start;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  /* border: 1px dotted red; */
}

.color-picker-wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.color-picker {
  padding: 0;
  border: 0;
  height: 150%;
  width: 150%;
  transform: translate(-25%, -25%);
}

.rainbow-mode-btn,
.darken-mode-btn,
.lighten-mode-btn,
.gridlines-btn {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 0;
  background: rgb(211, 211, 211);
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.pressed {
  box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rainbow-mode-btn.pressed {
  background: linear-gradient(to right, #e9bae6, rgb(146, 165, 204), rgb(231, 211, 174));
}

.darken-mode-btn.pressed,
.lighten-mode-btn.pressed,
.gridlines-btn.pressed {
  background: rgb(156, 156, 156);
}

.grid-length-slider {
  margin-top: 10px;
}

.sketchboard-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  height: 500px;
  width: 500px;
  display: grid;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.grid-element {
  background-color: white;
  user-select: none;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

.grid-erase-slider {
  width: 101%;
  pointer-events: none;
}

.grid-erase-slider::-webkit-slider-thumb {
  pointer-events: auto;
}

.grid-erase-slider::-moz-range-thumb {
  pointer-events: auto;
}

.grid-erase-slider::-ms-thumb {
  pointer-events: auto;
}